<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Data Produk</title>
</head>
<body>
    {% include "navbar.html" %}
    <div>
        <h1>Edit Penjualan</h1>
        <button class="kembali"> <a href="/penjualan" >Kembali</a></button>
        <form action="/edit_penjualan/{{id_penjualan}}" method="POST">
            <label for="bulan">Bulan:</label>
            <input type="text" name="bulan" value="{{info_penjualan[0]}}" required>
            <label for="tahun">Tahun:</label>
            <input type="text" name="tahun" value="{{info_penjualan[1]}}" required>
            <div>
                <label for="products">Produk dan Quantity:</label>
                {% for produk in produks %}
                    <input type="hidden" name="produk_quantity" value="{{ produk[0] }}:{{ detail_produk.get(produk[0], 0) }}" id="hidden_{{produk[0]}}">
                    <label for="name">{{produk[1]}}</label>
                    <input type="text" min = "0" value="{{detail_produk.get(produk[0], 0)}}" onchange="updateQuantity('{{produk[0]}}', this.value)" >
                {% endfor %}
                    <button type="submit">Simpan</button>
            </div>
        </form>
    </div>

    <script>
        function updateQuantity(id_produk, quantity){
            document.getElementById('hidden_' + id_produk).value = id_produk + ':' + quantity
        }
    </script>
</body>
</html>