<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Data Produk</title>
</head>
<body>
    {% include "navbar.html" %}
    <div>
        <h1>Tambah Produk</h1>
        <button class="kembali"><a href="/produk" >Kembali</a></button>
        <form action="/tambah_produk" method="POST">
            <label for="name">Nama Produk:</label>
            <input type="text" name="name" required>
            <button type="submit">Simpan</button>
        </form>
    </div>
</body>
</html>